.card {
  margin: 16px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 520px;
  border-radius: 4px;
  border: 1px solid rgba(12,12,12,.3);
  box-shadow: 2px 4px 1px 2px rgba(25,25,25,.6);
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-image-body {
  padding-top: 12px;
  margin-left: 32px;
}

.card-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}